# Byte-compiled / optimized / DLL files

__pycache__/
*.py[cod]
*$py.class

# Environments

venv/
ENV/
env/

# Environment variables

.env

# Database files

db.sqlite3
*.sql

# Logs

*.log

# IDEs

.vscode/
.idea/

# Project snapshots

snapshot.txt